@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.music-homepage{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    background-size:cover;
    height:80vh;
    margin: 5vh;
}

.music-homepage-heading{
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 5vw;
    font-weight: bold;
    text-align:center;
}
.music-homepage-para{
    font-family: "Bree Serif";
    color: #ffffff;
    text-align:center;
    font-size: 2vw;
}

.heading-container{
    margin-top: 115px;
}

.image{
    height: 20vh;
}